{% extends "base.html" %} 


{% block content %}
<div class="container">
  <div class="row justify-content-center align-items-center" style="height:100vh">
    <div class="col-8">
      <div class="card shadow-lg p-3 mb-5 bg-white rounded">
        <div class="col-4"></div>
            <div class="card border-light mb-3 mx-auto" style="max-width: 35rem;">
              <div class="card-header bg-transparent border-success">RECHARGE</div>
              <div class="card-body text-success">
                <h5 class="card-title">Account Exists!</h5>
                <p class="card-text">You already have an account. If you want to refill your account press recharge.</p>
              </div>
              <div class="card-footer bg-transparent border-success mx-auto"><a href="#" class="btn btn-lg btn-primary btn-block">Recharge</a></div>
            </div>
          </div>
        </div>
        </div>
      </div>

<!--
<div class="container">
    <div class="row justify-content-center align-items-center" style="height:100vh">
      <div class="col-8">
        <div class="card shadow-lg p-3 mb-5 bg-white rounded">
          <div class="col-4"></div>
            <div id="h" class="mx-auto"><h1>You already have an account!</h1></div>
          <button type="button" class="btn btn-lg btn-success btn-block" id="start"><h3>Recharge</h3></button>
      </div>
    </div>
    </div>
  </div>
-->
{% endblock %}  